/* DISPLAY */
*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
div .dev{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
    min-height: 100px;
    height: 100%;
}
div .dev:hover{
    background: rgba(202, 98, 98, 0.226);
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-columns: var(--column-number);
    grid-template-rows: var(--row-number)
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-columns: var(--column-number);
    grid-template-rows: var(--row-number)
}

/* VARIABLES */

/* COLUMNS */
.column-auto{
    --column-number: auto;
}
.column-1{
    --column-number: 1fr;
}
.column-2{
    --column-number: repeat(2,1fr);
}
.column-3{
    --column-number: repeat(3,1fr);
}
.column-4{
    --column-number: repeat(4,1fr);
}
.column-5{
    --column-number: repeat(5,1fr);
}
.column-6{
    --column-number: repeat(6,1fr);
}

/* ROWS */
.row-auto{
    --row-number: auto;
}
.row-1{
    --row-number: 1fr;
}
.row-2{
    --row-number: repeat(2,1fr);
}
.row-3{
    --row-number: repeat(3,1fr);
}
.row-4{
    --row-number: repeat(4,1fr);
}
.row-5{
    --row-number: repeat(5,1fr);
}
.row-6{
    --row-number: repeat(6,1fr);
}

/* ITEMS */
button{
    text-align: center;
    color: white;
    width: 75px;
    height: 30px;
    background: rgb(255, 131, 131);
    border: none;
    border-radius: 10px;
}
.item-1{
    grid-area: item-1;
}
.item-2{
    grid-area: item-2;
}
.item-3{
    grid-area: item-3;
}
.item-4{
    grid-area: item-4;
}
.item-5{
    grid-area: item-5;
}

.area-1{
    grid-template-areas: "item-1 item-1 item-2"
                         "item-3 item-4 item-4";
}
.area-2{
    grid-template-areas: "item-1 item-1 item-1"
                         "item-2 item-3 item-4";
}

/* NAV GRID */

.nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
}
.toggle-nav{
    width: 100%;
    height: 100vh;
    grid-template-columns: 0;
}
.nav button{
    color: rgb(255, 131, 131);
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background: transparent;
}
.nav button:hover{
    color: white;
    background: rgb(255, 131, 131);
}